<div class="about-container" >
    <div class="about-container-header" data-toggle="tooltip" data-toggle="collapse"  data-target="#aboutcontent"  title="Display a summary about this page.">
        <p class = "about-container-heading about-font-default">
            <i class="fa fa-paperclip about-font-out" aria-hidden="true"></i>
            <span class="about-prompt">
                ~>
            </span>
            <span class="about-font-cmd">
                Get-Help
            </span>
            -Name
            <span class="about-font-string">
                    'About_{{ page.title | remove: " "}}'
            </span>
        </p>
    </div>
    <div class="about-container-content  collapse" id="aboutcontent">
        <p class="about-font-out">
            {{ include.content -}}
            <span class="blinking-cursor">|</span>
        </p>
    </div>
</div>
