<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
    "palette": {
        "popup": {
          "background": "#eeeeee",
          "text": "#646464"
        },
        "button": {
          "background": "transparent",
          "border": "#646464",
          "text": "#646464"
        }
      },
  "content": {
    "message": "This website uses cookies to ensure you get the best experience on our website. By using our site you agree to use of cookies.",
    "href": "{{- site.url -}}/impressum#cookies"
  }
})});
</script>
